

.input-Text {
  font-family: inherit;
  width: 20em;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;



  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.input-Text:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
/* reset input */
.input-Text {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/********************* Normal*************************** */

.normal {
  width: 20em;
  border: none;
  border: 1px solid #999;
  outline: none;
  font-size: 16px;
  padding: 10px;
  transition: border-bottom-color 0.3s;
  margin-top: 5px;
}
.normal:focus {
  border-color: #007bff;
}

/********************* Normal-round*************************** */
.normal-round {
  width: 20em;
  border: none;
  border: 1px solid #999;
  outline: none;
  font-size: 16px;
  padding: 10px;
  transition: border-bottom-color 0.3s;
  margin-top: 5px;
  border-radius: 5px;
}
.normal-round:focus {
  border-color: #007bff;
}


/*------------------------------------------------------------ */


input {
  padding: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  font-size: 15px;
  color: gray;
  margin-left: 5px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

span {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 3px;
  color: red;
  display: none;
  margin-bottom: 5px;
}
input:invalid[focused="true"] {
  border: 3px solid red;
  animation: shake 0.3s ease-in-out forwards;
}
input:valid[focused="true"] {
  border:3px solid green;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
