/* l'animation de la span d'erreur*/

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24em;
  min-height: 20em;
  border-radius: 10px;
  box-shadow: #0366d64d 0px 0px 0px 3px;
  margin: auto;
  background-color: white;
}

.basic-form > * {
  align-self: center;
}

.basic-form input {
  margin: 8px 0;
  border: 2px solid #0366d64d;
  border-radius: 4px;
  box-sizing: border-box;
  width: 23em;
  height: 3em;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.basic-form span {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;
  display: none;
  text-align: center;
  margin-bottom: 8px;
  width: 30em;
}
.basic-form input:invalid[focused="true"] {
  border: 3px solid red;
  animation: shake 0.3s ease-in-out forwards;
}
.basic-form input:valid {
  border: 3px solid green;
}
.basic-form input:invalid[focused="true"] ~ span {
  display: block;
}
.basic-form input[type="radio"] {
  width: 2em;
  margin-right: 10px;
  border: 1px solid #0366d64d;
  border-width: 10px solid;
}

.basic-form input[type="checkbox"] {
  height: 1em;
  border: 1px solid #0366d64d;
  border-width: 10px solid;
}
.basic-form select {
  margin: 8px 0;
  border: 2px solid #0366d64d;
  border-radius: 4px;
  box-sizing: border-box;
  width: 23em;
  height: 3em;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: #fff;
}

.basic-form select option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: #96bbe5;
  color: #fff;
}

.basic-form select:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: #ffff;
  color: #0276ff;
}

.basic-form label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  margin-left: 1em;
}

.basic-form button {
  background-color: #0276ff;
  width: 15em;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.15;
  margin: 10px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.basic-form button:active {
  background-color: #0366d64d;
}

.basic-form button:hover {
  font-weight: 600;
}

.basic-form h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}

/* ----------------------- vectorForm----------------------------   */

.vectorForm {
  max-width: 20em;
  max-height: 50em;
  box-shadow: rgba(4, 109, 23, 0.4) 0px 0px 0px 2px,
    rgba(1, 95, 43, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0) 0px 1px 0px inset;
  padding: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  background-color: #fff;
}

.vectorForm input {
  width: 100%;
  height: 3em;
  margin: 0.25em;
  border-style: none;
  border: 0;
  outline: 0;
  border-bottom: solid 1px green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.vectorForm input::placeholder {
  font-size: 10px;
}

.vectorForm input:focus {
  outline: none;
  border-bottom: solid 2px green;
}

.vectorForm input[type="radio"] {
  width: 2em;
  margin-right: 10px;
  accent-color: green;
  border: 2px solid red;
}

.vectorForm button {
  margin-top: 20%;
  height: 2em;
  border: none;
  background-color: green;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
}

.vectorForm label {
  color: black;
  font-size: 10px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}
.vectorForm select {
  margin: 8px 0;
  border: 0;
  outline: 0;
  border-bottom: solid 1px green;
  border-radius: 4px;
  box-sizing: border-box;
  width: 22em;
  height: 3em;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: #fff;
}

.vectorForm select option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: #b6f9cb;
  color: black;
}
.vectorForm h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}

.vectorForm span {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 3px;
  color: red;
  display: none;
  margin-bottom: 5px;
}
.vectorForm input:invalid[focused="true"] {
  border: 3px solid red;
  animation: shake 0.3s ease-in-out forwards;
  margin-left: -5px;
}
.vectorForm input:valid {
  border: 3px solid green;
  margin-left: -5px;
}
.vectorForm input:invalid[focused="true"] ~ span {
  display: block;
}

/* STYLE CSS DU "AnimalForm.jsx"*/

.animal-form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20em;
  max-width: 20em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: #8a6249 3px 3px;
  background-color: #f5d7b7;
  height: 50%;
  font-weight: 500;
}
.animal-form h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}
/* BUTTON */
.animal-form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cfa67b;
  color: #fff;
  border: 2px solid #cfa67b;
  margin-top: 2em;
  cursor: pointer;
}

.animal-form button:hover {
  background-color: #8a6249;
  border-color: #8a6249;
}

.animal-form button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(207, 166, 123, 0.4);
}

/* INPUTS */
.animal-form input {
  border: 2px solid #8a6e5d;
  background-color: #ffffff;
  color: #0f0401;
  padding: auto 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  width: 20em;
  height: 2em;
  font-size: 15px;
  font-weight: bold;
}

.animal-form input:focus {
  border-color: #4e3832;
  outline: none;
}

/* CHECKBOX */
.animal-form input[type="checkbox"] {
  appearance: none;
  width: 2vw;
  height: 2vh;
  border: 2px solid #8a6e5d;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.animal-form input[type="checkbox"]:checked {
  background-color: #0fa63f;
}

.animal-form .labcheck {
  margin-top: 17px;
}

.animal-form label {
  color: black;
}

.animal-form span {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 3px;
  color: red;
  display: none;
  margin-bottom: 5px;
}
.animal-form input:invalid[focused="true"] {
  border: 3px solid red;
  animation: shake 0.3s ease-in-out forwards;
}
.animal-form input:valid {
  border: 3px solid green;
}
.animal-form input:invalid[focused="true"] ~ span {
  display: block;
}

/* ****************************nature******************************/

.formWild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25em;
  min-height: 10em;
  background-color: whitesmoke;
  padding: 0px 60px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.formWild h2 {
  color: rgb(77, 1, 77);
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.formWild button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  font-weight: bold;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  color: whitesmoke;
}

.formWild button:hover {
  font-size: 1.5em;
  width: 110%;
}
.formWild input {
  padding: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 30em;
  border-radius: 5px;
  border: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.formWild select {
  padding: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 33em;
  height: 3.5em;
  border-radius: 5px;
  border: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
}

.formWild select option {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.formWild input[type="radio"] {
  width: 2em;
  margin-right: 10px;
  border: 1px solid purple;
}

.formWild input[type="checkbox"] {
  height: 1em;
  border: 1px solid purple;
}

.formWild label {
  font-size: 15px;
  color: gray;
  margin-left: 5px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.formWild span {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 3px;
  color: red;
  display: none;
  margin-bottom: 5px;
}
.formWild input:invalid[focused="true"] {
  border: 3px solid red;
  animation: shake 0.3s ease-in-out forwards;
}
.formWild input:valid {
  border: 3px solid green;
}
.formWild input:invalid[focused="true"] ~ span {
  display: block;
}
