.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24em;
  min-height: 20em;
  border-radius: 10px;
  box-shadow: #0366d64d 0px 0px 0px 3px;
  margin: auto;
}

.basic-form > * {
  align-self: center;
}

.basic-form input {
  margin: 8px 0;
  border: 2px solid #0366d64d;
  border-radius: 4px;
  box-sizing: border-box;
  width: 23em;
  height: 3em;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.basic-form input[type="radio"] {
  width: 2em;
  margin-right: 10px;
  border: 1px solid #0366d64d;
  border-width: 10px solid;
}

.basic-form input[type="checkbox"] {
  height: 1em;
  border: 1px solid #0366d64d;
  border-width: 10px solid;
}
.basic-form select {
  margin: 8px 0;
  border: 2px solid #0366d64d;
  border-radius: 4px;
  box-sizing: border-box;
  width: 20em;
  height: 3em;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: #fff;
}

.basic-form select option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background: #0276ff;
  color: #fff;
}

.basic-form select:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: #ffff;
  color: #0276ff;
}

.basic-form label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  margin-left: 1em;
}

.basic-form button {
  background-color: #0276ff;
  width: 15em;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.15;
  margin: 10px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.basic-form button:active {
  background-color: #0366d64d;
}

.basic-form button:hover {
  font-weight: 600;
}

.basic-form h2 {
  font-family: "Fascinate Inline", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 1em;
}

/* ----------------------- vectorForm----------------------------   */

.vectorForm {
  max-width: 20em;
  max-height: 50em;
  box-shadow: rgba(4, 109, 23, 0.4) 0px 0px 0px 2px,
    rgba(1, 95, 43, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0) 0px 1px 0px inset;
  padding: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.vectorForm input {
  width: 100%;
  height: 3em;
  margin: 0.25em;
  border-style: none;
  border: 0;
  outline: 0;
  border-bottom: solid 1px green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.vectorForm input:focus {
  outline: none;
  border-bottom: solid 2px green;
}

.vectorForm input[type="radio"] {
  width: 2em;
  margin-right: 10px;
  accent-color: green;
  border: 2px solid red;
}

.vectorForm button {
  margin-top: 15%;
  height: 2em;
  border: none;
  background-color: green;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.vectorForm label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.vectorForm h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: -20%;
  letter-spacing: 10px;
  text-transform: uppercase;
}
